
/* colores de marca:  RGB(045,064,122); RGB(107,201,203); RGB(220,137,018) */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif; /*la swis721 no esta disponible aca ni en google fonts, esta en otro lugar pero hay que pagar. Definir si cambiamos o si se puede conseguir*/
    font-size: 12px;
    
}
main{
    width: 100%;
    margin: auto;
    background-image: url('/images/fondogrungy.jpg');
    background-size: cover;
}
.main-header {
    background-color: RGB(107, 201, 203);
    padding: 20px;
}
.main-header-top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    display: inline-block;
}
.right-top-header{
    width: 50px;
}
.right-top-header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.right-top-header a{
    display: inline-block;
    font-size: 28px;
}
.main-nav-bar{
    display: none;
}
.main-nav-bar a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 3px 0px;
    font-size: 14px;
}
.main-nav-bar ul{
    list-style-type: none;
}
.burger{
    font-size: 22px;
    text-align: center;
    display: block;
    background-color: RGB(045,064,122);
    color: #ffffff  ;
    border-radius: 8px;
    max-width: 60px;
    padding: 15px 0px;
    margin: auto;

}
section{
    margin:0px 0px;
}
.productos{
    margin-top: 10px;
}
.caja-datos-prod{
    border-top: 1px RGB(220,137,018) solid;
    padding: 15px;
}
footer{
    color:RGB(107,201,203);
    text-align: center;
    background-color: #222222;
}
.top-footer{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:20px 15px; 
}
footer li{
    text-align: left;
    list-style-type: none;
}
footer a{
    text-decoration: none;
    display: inline-block;
    color:RGB(107,201,203);
}
footer div i{
    display:block;
    width: 20px;
    margin-top: 15px;
    margin-bottom: 7px;
}
.redes-sociales{
    align-self: center;
}
.copyright{
    margin-top: 2em;
}
@media (min-width: 361px) {

    .productos{
        display:flex;
        justify-content: space-between;
    }
}
@media (min-width: 769px) {
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav-bar{
        display: block;
        width: 85%;
        margin:auto;
        margin-top: 20px;
    }
    .main-nav-bar ul{
        display: flex;
        justify-content: space-between;
    }
    .main-nav-bar li{
        margin: 5px;
    }
    .burger{
        display:none;
    }
}
