<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>En Movimiento</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <a href="/"><img src="/images/LogoNew5.png" alt ="logo de En Movimiento"  class="logo"></a>
                <form action="/" method="POST"class="form-busqueda">
                    <input type="text" placeholder="Search.." class="barra-busqueda"><button type="submit"><i class="fas fa-search busqueda"></i></button>
                </form>
                <div class="right-top-header">
                    <ul>
                        <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
                        <li><a href="/productos/carrito"><i class="fas fa-shopping-cart carrito"></i></a></li>
                    </ul>
                </div>
            </div>
            <nav class="main-nav-bar">
                    <ul>
                        <li><a href=# >Ofertas</a></li>
                        <li><a href=# >Novedades</a></li>
                        <li><a href=# >Hombre</a></li>
                        <li><a href=# >Mujer</a></li>
                        <li><a href=# >Niños</a></li>
                        <li><a href=# >Marcas</a></li>
                        <li><a href=# >Deporte</a></li>
                    </ul>
            </nav> 
            <div><i class="fas fa-bars burger"></i>
            </div>
        </header>
    <div> <img class="banner" src="/images/banner-achatado.jpg" alt="Banner">
    </div>
    <main>
        
        <section>
            <h2>Tu Carrito</h2>
            <div class="productos-carrito">

            <article>
                <img src="/images/bolso.jpg" width=100% alt= "foto ropa"> <!-- COMPLETAR ALT Y SRC--> 
                <div class="caja-datos-prod">
                    <p class="precios">$6.770</p>
                    <h4 class="oculto-enmobile">Bolso Deportivo</h4>
                </div>
            </article>
            
            <article class="una-caja">
                
                <div class="botones-mas-menos">
                <p>
                    <i class="fas fa-minus"></i><i class="far fa-circle"></i><i class="fas fa-plus"></i>
                </p>
                </div>
                

                 <!-- COMPLETAR ALT Y SRC--> 
                <div class="detalles-prod">
                    <h4 class="titulo-prod">Bolso Deportivo</h4>
                    <p class="precios">Bolso Grande Nike Brasilia Large 9.0. Medidas aproximadas: 71cm x 35cm x 35cm
                    </p>
                </div>
            </article>
            

            <article> <!-- COMPLETAR ALT Y SRC--> 
                <div class="ticket">
                    <h4 class="titulo-prod">Ticket</h4>
                    <i class="fas fa-align-left"></i>
                    <h4 class="titulo-prod">Total:</h4>
                </div>
                <button class="boton-ticket">Finalizar compra</button>
                <button class="boton-ticket">Seguir comprando</button>
                </div>
                
            </article>
        </section>
    </main>
    <footer>
        <div class="top-footer">
        <section>
            <h3>Contacto</h3>
            <ul>
                <li>Dirección</li>
                <li>Telefono</li>
                <li>Mail</li>
            </ul>
        </section>
        <section>
            <h3><a href=# >About us</a></h3>
        </section>
        <section>
            <h3><a href=# >Terminos y Condiciones</a></h3>
        </section>
        <section class="redes-sociales">
            <div>Iconos de redes sociales</div>
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 EN MOVIMIENTO S.R.L.</p>
        </section>
    </footer>
</body>
</html>