<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Movimiento</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/LogoNew5.png" alt ="logo de En Movimiento">
            <form action="/" method="POST"class="form-busqueda">
                <input type="text" placeholder="Search.." class="barra-busqueda"><i class="fas fa-search busqueda"></i>
            </form>
            <div class="right-top-header">
                <ul>
                    <li><a href=#><i class="fas fa-user"></i></a></li>
                    <li><a href=#><i class="fas fa-shopping-cart carrito"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="main-nav-bar">
                <ul>
                    <li><a href=# >Ofertas</a></li>
                    <li><a href=# >Novedades</a></li>
                    <li><a href=# >Hombre</a></li>
                    <li><a href=# >Mujer</a></li>
                    <li><a href=# >Niños</a></li>
                    <li><a href=# >Marcas</a></li>
                    <li><a href=# >Deporte</a></li>
                </ul>
        </nav> 
        <div><i class="fas fa-bars burger"></i>
        </div>
    </header>
    <div> <img class="banner" src="/images/banner-achatado.jpg" alt="Banner">
    </div>
    <main>
        
        <section class="product">
            <main>
                <section class="listaproductos">
                    <article class="producto1"></article>
                    
                    <br>
                        <article><img src="/images/bolso.jpg" width=100% alt= "foto ropa"></article>
                        
                        <article class="nombre">Bolso Unisex Sports</article>
                        <h4 class="especificaciones1">Especificaciones de Producto</h4>
                        <p> 
                            <p>Dimensiones: Largo: 62 cm. x Ancho: 29 cm. x Alto: 36 cm.</p>
                            <p>Amplio compartimiento principal.</p>
                            <p>Bolsillo lateral izquierdo con pequeño bolsillo interno de red con cierre.</p>
                            <p>Correas acolchadas para trasportar como mochila.</p>
                            <p>Tira desmontable con ajuste regulable.</p>
                            <p>Incluye asa para transporte.</p>
                        </p>

                        <h4 class="especificaciones">Precio</h4>
                            <p class= "importe">$ 6.770</p>
                        <h4 class="especificaciones">Formas de Pago</h4>
                            <p class= "pago"> Tarjeta de Credito 3 y 6 cuotas sin interes</p>
                        <h4 class="especificaciones">Colores</h4>
                            <p class= "color"> Color: Negro</p>

                    <br>

                    </article>

                    <article class="producto2"></article>
                    <article><img src="/images/camisetaargentina.jpg" width=100% alt= "foto ropa"></article>
                    
                    <article class="nombre">Camiseta Argentina Oficial</article>
                    <h4 class="especificaciones">Especificaciones de Producto</h4>

                        <p>
                        <p>Material: 100% poliéster</p>
                        <p>Incluye firma Diego Maradona</p>
                        <p>Tecnología ClimaChill. </p>
                        </p>
                    <h4 class="especificaciones">Precio</h4>
                            <p class= "Importe">$ 230.000</p>
                        <h4 class="especificaciones">Formas De Pago</h4>
                            <p class= "Pago">Promo Mundial: 12 cuotas sin interes / Tarjeta de todos los bancos</p>
                        <h4 class="especificaciones">Talles</h4>
                            <p class= "talles"> Talles: XS - S - L - M - XL</p>
                        <h4 class="especificaciones">Colores</h4>
                            <p class= "colores"> Color: Blanco/Celeste/Azul/Dorado</p>

                    <article class="producto3"></article>
                        <article><img src="/images/pesas.jpg" width=100% alt= "foto ropa"></article>
                    
                        <article class="nombre">Kit de 2 Mancuernas</article>
                                
                            <h4 class="especificaciones">Especificaciones de Producto</h4>

                                <p>
                                    <p>Material: metal</p>
                                    <p>Peso Máximo: 10 kg.</p>
                                </p>

                                <p>
                                <h4 class="especificaciones">Precio</h4>
                                    <p class= "Importe">$ 70.500</p>
                                <h4 class="especificaciones">Formas De Pago</h4>
                                    <p class= "pago"> Efectivo o Tarjeta de Credito en 1 pago</p>
                                <h4 class="especificaciones">Colores</h4>
                                    <p class= "colores"> Color: Blanco/Celeste/Azul/Dorado</p>
                                </p>

                                

                                <article class="producto4"></article>
                                <article><img src="/images/zapatillas.jpg" width=100% alt= "foto ropa"></article>
                            
                                <article class="nombre">Zapatillas Air Pegasus 47</article>
                                    <h4 class="especificaciones">Especificaciones de Producto</h4>
                                        <p>
                                            <p>Material: Poliéster</p>
                                            <p>Beneficios: Amortiguación</p>
                                            <p>Composición: Capellada: Malla y Sintético / Suela: Goma</p>
                                            <p>Caña: Baja</p>
                                            <p>Ajuste: Con Cordones</p>
                                            <p>Tecnología: Flywire</p>
                                        </p>
                                    <h4 class="especificaciones">Precio</h4>
                                            <p class= "importe">$ 23.200</p>
                                    <h4 class="Especificaciones">Formas de Pago</h4>
                                            <p class= "pago">3 y 6 cuotas sin interes</p>
                                    <h4 class="Especificaciones">Talles</h4>
                                            <p class= "talles"> Talles: 36 - 38 - 40 - 44</p>
                                    <h4 class="Especificaciones">Colores</h4>
                                            <p class= "Colores"> Color: Verde / Azul</p>
                    
                </article>
                
    </main>
    <footer>
        <div class="top-footer">
        <section>
            <h3>Contacto</h3>
            <ul class="contacto">
                <li>Dirección</li>
                <li>Telefono</li>
                <li>Mail</li>
            </ul>
        </section>
        <section>
            <h3><a href=# >About us</a></h3>
        </section>
        <section>
            <h3><a href=# >Terminos y Condiciones</a></h3>
        </section>
        <section class="redes-sociales">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 EN MOVIMIENTO S.R.L.</p>
        </section>
    </footer>
</body>
</html>