<!doctype html>
    <html></html>
        <head></head>
                <title></title>
                    <base href="">
                    <link rel="stylesheet" href="">
                    <meta>
                    <style></style>
                    <body>
                        
                    </body>

                    <section></section>
                    <nav></nav>
                    <article></article>
                    <h1></h1>
                    <h2></h2>
                    <h3></h3>
                    <h4></h4>
                    <h5></h5>
                    <h6></h6>
            <header></header>
            <footer></footer>
            <main></main>
            <p></p>
            <ul></ul>
            <li></li>
            <div></div>
            <a href=""></a>
            <em></em>
            <span></span>
            <br>
            <img src="" alt="">
            <form action=""></form>
            <label for=""></label>
            <input type="text">
            <textarea name="" id="" cols="30" rows="10"></textarea>