<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/Logo_provisorio.png" alt ="logo de En Movimiento">
            <div>Barra de búsqueda</div>
            <div class="right-top-header">
                <ul>
                    <li><a href=#><i class="fas fa-user"></i></a></li>
                    <li><a href=#><i class="fas fa-shopping-cart carrito"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="main-nav-bar">
                <ul>
                    <li><a href=# >Ofertas</a></li>
                    <li><a href=# >Novedades</a></li>
                    <li><a href=# >Hombre</a></li>
                    <li><a href=# >Mujer</a></li>
                    <li><a href=# >Niños</a></li>
                    <li><a href=# >Marcas</a></li>
                    <li><a href=# >Deporte</a></li>
                </ul>
        </nav> 
        <div><i class="fas fa-bars burger"></i>
        </div>
    </header>

    <main>
        <section>
            <h2>NOVEDADES</h2>
            <article><img src="/images/" width=100% alt= "foto ropa"> <!-- COMPLETAR ALT Y SRC--> 
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="oculto-enmobile">Cafetera Moulinex</h4>
                </div>
            </article>
            <article><img src="/images/" width="100%" alt="foto ropa">
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="oculto-enmobile">MacBook Pro 2019</h4>
                </div>
            </article>
            <article> <img src="/images/" width="100%" alt="foto ropa">
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="oculto-enmobile">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article><img src="/images/" width="100%" alt="foto ropa">
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="oculto-enmobile">Smart TV Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <article><img src="/images/" width="100%" alt="foto ropa">
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="oculto-enmobile">Cafetera Moulinex</h4>
                </div>
            </article>
            <article><img src="/images/" width="100%" alt="foto ropa">
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="oculto-enmobile">MacBook Pro 2019</h4>
                </div>
            </article>
            <article><img src="/images/" width="100%" alt="foto ropa">
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="oculto-enmobile">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article><img src="/images/" width="100%" alt="foto ropa">
                <div class="caja_datos_prod">
                    <i class="fas fa-truck icono_truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="oculto-enmobile">Smart TV Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="centrar"><i class="fas fa-credit-card iconos-footer"></i></div>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="centrar"><i class="fas fa-gift iconos-footer"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </section>
        <section>
            <div class="centrar"><i class="fas fa-user-shield iconos-footer"></i></div>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>