<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Movimiento</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/images/LogoNew5.png" alt ="logo de En Movimiento"  class="logo"></a>
            <form action="/" method="POST"class="form-busqueda">
                <input type="text" placeholder="Search.." class="barra-busqueda"><button type="submit"><i class="fas fa-search busqueda"></i></button>
            </form>
            <div class="right-top-header">
                <ul>
                    <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
                    <li><a href="/productos/carrito"><i class="fas fa-shopping-cart carrito"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="main-nav-bar">
                <ul>
                    <li><a href=# >Ofertas</a></li>
                    <li><a href=# >Novedades</a></li>
                    <li><a href=# >Hombre</a></li>
                    <li><a href=# >Mujer</a></li>
                    <li><a href=# >Niños</a></li>
                    <li><a href=# >Marcas</a></li>
                    <li><a href=# >Deporte</a></li>
                </ul>
        </nav> 
        <div><i class="fas fa-bars burger"></i>
        </div>
    </header>
    <div> <img class="banner" src="/images/banner-achatado.jpg" alt="Banner">
    </div>
    <main>
        <div>
            <p>INSERTAR CARRUSEL</p>
        </div>
        <section>
            <h2>NOVEDADES</h2>
            <div class="productos">

            <article><a href="/productos/detalleDeproducto"><img src="/images/bolso.jpg" width=100% alt= "foto ropa"></a>
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i></a>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="oculto-enmobile">Bolso Unisex Sports</a></h4>
                </ul>

                </div>
            </article>
            <article> <img src="/images/camisetaargentina.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="oculto-enmobile">Camiseta Argentina</h4>
                </div>
            </article>
            <article><img src="/images/pesas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="oculto-enmobile">Mancuernas</h4>
                </div>
            </article>
            <article> <img src="/images/zapatillas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="oculto-enmobile">Zapatillas muy lindas</h4>
                </div>
            </article>
            </div>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <div class="productos">

            <article><img src="/images/bolso.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="oculto-enmobile">Bolso Unisex Sports</h4>
                </div>
            </article>
            <article><img src="/images/camisetaargentina.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="oculto-enmobile">Camiseta Argentina</h4>
                </div>
            </article>
            <article><img src="/images/pesas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="oculto-enmobile">Mancuernas</h4>
                </div>
            </article>
            <article><img src="/images/zapatillas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="oculto-enmobile">Zapatillas muy lindas</h4>
                </div>
            </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="top-footer">
        <section>
            <h3>Contacto</h3>
            <ul class="contacto">
                <li>Dirección</li>
                <li>Telefono</li>
                <li>Mail</li>
            </ul>
        </section>
        <section>
            <h3><a href=# >About us</a></h3>
        </section>
        <section>
            <h3><a href=# >Terminos y Condiciones</a></h3>
        </section>
        <section class="redes-sociales">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 EN MOVIMIENTO S.R.L.</p>
        </section>
    </footer>
</body>
</html>