<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header") %> 
    <link href="/css/styles.css" rel="stylesheet">

<body>
    <%- include("./partials/head") %> 
<main>
    <main>
        <div>
            <p>INSERTAR CARRUSEL</p>
        </div>
        <section>
            <h2>NOVEDADES</h2>
            <div class="productos">

            <article><a href="/productos/detalleDeproducto"><img src="/images/bolso.jpg" width=100% alt= "foto ropa"></a>
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i></a>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="oculto-enmobile">Bolso Unisex Sports</a></h4>
                </ul>

                </div>
            </article>
            <article> <img src="/images/camisetaargentina.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="oculto-enmobile">Camiseta Argentina</h4>
                </div>
            </article>
            <article><img src="/images/pesas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="oculto-enmobile">Mancuernas</h4>
                </div>
            </article>
            <article> <img src="/images/zapatillas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="oculto-enmobile">Zapatillas muy lindas</h4>
                </div>
            </article>
            </div>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <div class="productos">

            <article><img src="/images/bolso.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="oculto-enmobile">Bolso Unisex Sports</h4>
                </div>
            </article>
            <article><img src="/images/camisetaargentina.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="oculto-enmobile">Camiseta Argentina</h4>
                </div>
            </article>
            <article><img src="/images/pesas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="oculto-enmobile">Mancuernas</h4>
                </div>
            </article>
            <article><img src="/images/zapatillas.jpg" width="100%" alt="foto ropa">
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="oculto-enmobile">Zapatillas muy lindas</h4>
                </div>
            </article>
            </div>
        </section>
    </main>
</body>
<%- include("./partials/footer")%> 
</html>