<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Movimiento</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/images/LogoNew5.png" alt ="logo de En Movimiento"  class="logo"></a>
            <form action="/" method="POST"class="form-busqueda">
                <input type="text" placeholder="Search.." class="barra-busqueda"><i class="fas fa-search busqueda"></i>
            </form>
            <div class="right-top-header">
                <ul>
                    <li><a href="/login"><i class="fas fa-user"></i></a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-cart carrito"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="main-nav-bar">
                <ul>
                    <li><a href=# >Ofertas</a></li>
                    <li><a href=# >Novedades</a></li>
                    <li><a href=# >Hombre</a></li>
                    <li><a href=# >Mujer</a></li>
                    <li><a href=# >Niños</a></li>
                    <li><a href=# >Marcas</a></li>
                    <li><a href=# >Deporte</a></li>
                </ul>
        </nav> 
        <div><i class="fas fa-bars burger"></i>
        </div>
    </header>
    <div> <img class="banner" src="/images/banner-achatado.jpg" alt="Banner">
    </div>

    <body>
         <main>
    
           <form action="/login" method="POST" class="create-form">
            <div class="inicio"> 
            <h2>
            <p>INICIO DE SESION</p>
            </h2>
        </div>
        <br>
   
            <p class="control-formulario">
               <label for="email">E-mail:</label>
            <input type="text" name="email" id="email">
            </p>

            <br>
            
            <p class="control-formulario">
                <label for="contraseña">Contraseña:</label> 
                <input type="password" name="contraseña" id="contraseña">
                
            </p>

            <p><a href=#>Restaurar Contraseña</a></p>
            <p>
                <button type="submit" class="boton-formulario">Ingresar</button>
            </p>
            <br>
            <div>
                <h2>
                <p>NUEVO USUARIO</p>
                </h2>
            </div>
            
            <a href="/register">Registrarse como nuevo usuario</a>
            <br>

            
            </form>

    </div>

    </main>
    </body>

    <br>


    <footer>
        <div class="top-footer">
        <section>
            <h3>Contacto</h3>
            <ul class="contacto">
                <li>Dirección</li>
                <li>Telefono</li>
                <li>Mail</li>
            </ul>
        </section>
        <section>
            <h3><a href=# >About us</a></h3>
        </section>
        <section>
            <h3><a href=# >Terminos y Condiciones</a></h3>
        </section>
        <section class="redes-sociales">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 EN MOVIMIENTO S.R.L.</p>
        </section>
    </footer>
</body>
</html>