<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
    <section class="listaproductos">
        <article class="producto1"></article>
            <h4 class="Nombre">Bolso Negro</h4>
            <h4 class="Especificaciones1">Especificaciones de Producto</h4>

            <p> 
            Bolso Mochila Sports Unisex 
            Dimensiones aproximadas: Largo: 62 cm. x Ancho: 29 cm. x Alto: 36 cm.
            Amplio compartimiento principal.
            Amplio bolsillo lateral izquierdo con pequeño bolsillo interno de red con cierre.
            Correas acolchadas para trasportar como mochila.
            Tira desmontable con ajuste regulable.
            Asa para transporte.
            </p>
        <br>

        <article class="producto2"></article>

            <h4 class="Nombre">Camiseta</h4>

            <h4 class="Especificaciones2">Especificaciones de Producto</h4>
            <p> 
            Camiseta Argentina Oficial 
            Esta camiseta de fútbol es idéntica a la que usan las superestrellas de la Selección Argentina. 
            Está inspirada en el kit con el que la selección del 93 ganó el título y presenta un diseño futurista creado para una nueva era.
            Incorpora un tejido suave que se seca rápido y te mantiene súper fresco.
            Su confección liviana y el ajuste que se adapta al cuerpo reduce el peso y la resistencia al viento para que te desarrolles en tu máximo potencial.
            La tecnología ClimaChill te mantiene fresco gracias a su tejido similar a la malla con puntos de aluminio que liberan el calor alejándolo de tu cuerpo.
            </p>
            <p class= "talles"> XS - S - L - M - XL</p>


    <br>

         <article class="producto3"></article>
         <h4 class="Nombre">Camiseta</h4>

         <h4 class="Especificaciones3">Especificaciones de Producto</h4>
         <p> 
         Camiseta Argentina Oficial 
         Esta camiseta de fútbol es idéntica a la que usan las superestrellas de la Selección Argentina. 
         Está inspirada en el kit con el que la selección del 93 ganó el título y presenta un diseño futurista creado para una nueva era.
         Incorpora un tejido suave que se seca rápido y te mantiene súper fresco.
         Su confección liviana y el ajuste que se adapta al cuerpo reduce el peso y la resistencia al viento para que te desarrolles en tu máximo potencial.
         La tecnología ClimaChill te mantiene fresco gracias a su tejido similar a la malla con puntos de aluminio que liberan el calor alejándolo de tu cuerpo.
         </p>
   
   <br>

        <article class="producto2"></article>

    



    </section>




    </main>
    
</body>
</html>