<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Movimiento</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/images/LogoNew5.png" alt ="logo de En Movimiento"  class="logo"></a>
            <form action="/" method="POST"class="form-busqueda">
                <input type="text" placeholder="Search.." class="barra-busqueda"><button type="submit"><i class="fas fa-search busqueda"></i></button>
            </form>
            <div class="right-top-header">
                <ul>
                    <li><a href="/login"><i class="fas fa-user"></i></a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-cart carrito"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="main-nav-bar">
                <ul>
                    <li><a href=# >Ofertas</a></li>
                    <li><a href=# >Novedades</a></li>
                    <li><a href=# >Hombre</a></li>
                    <li><a href=# >Mujer</a></li>
                    <li><a href=# >Niños</a></li>
                    <li><a href=# >Marcas</a></li>
                    <li><a href=# >Deporte</a></li>
                </ul>
        </nav> 
        <div><i class="fas fa-bars burger"></i>
        </div>
    </header>
    <div> <img class="banner" src="/images/banner-achatado.jpg" alt="Banner">
    </div>

    <body>
           <main>
        <div>
            <h2>
            <p>REGISTRO DE USUARIO</p>
            </h2>
        </div>

        <br>
    <div>
           <form action="/register" method="POST">
            <p class="control-formulario">
               <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="control">
            </p>

            <br>

            <p class="control-formulario">
                <label for="apellido">Apellido:</label> 
                <input type="text" name="apellido" id="apellido" class="control">
            </p>
            <br>
            <p class="control-formulario">
                <label for="usuario">Nombre de usuari@:</label>
                <input type="text" name="nombre-usuario" id="usuario" class="control">
            </p>
            <br>
            <p class="control-formulario">
                <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
                <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" class="control">
            </p>
            <br>
            <p class="control-formulario">
                <label for="domicilio">Domicilio:</label>
                <input type="text" name="domicilio" class="control" id="domicilio">
            </p>
            <br>
            <p class="control-formulario">
                <label for="contraseña">Contraseña:</label> 
                <input type="password" name="contraseña" id="contraseña" class="control">
            </p>

            <br>

            <p class="control-formulario">
                <label for="confirmar contraseña">Confirmar Contraseña:</label> 
                <input type="password" name="Confirmar Contraseña" id="confirmar contraseña" class="control">
            </p>

            <br>
            <div class="control-formulario">
                <label>Desea recibir noticias sobre nuestros productos por email?:</label>
                <label><input type="radio" name="noticias-email" value="si"> Si</label>
                <label><input type="radio" name="noticias-email" value="no"> No</label>
            </div>
            <button type="reset" class="boton-formulario">Borrar</button>
            <button type="submit" class="boton-formulario">Enviar</button>
            </form>

    </div>

    </main>
    </body>

    <br>


    <footer>
        <div class="top-footer">
        <section>
            <h3>Contacto</h3>
            <ul class="contacto">
                <li>Dirección</li>
                <li>Telefono</li>
                <li>Mail</li>
            </ul>
        </section>
        <section>
            <h3><a href=# >About us</a></h3>
        </section>
        <section>
            <h3><a href=# >Terminos y Condiciones</a></h3>
        </section>
        <section class="redes-sociales">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 EN MOVIMIENTO S.R.L.</p>
        </section>
    </footer>
</body>
</html>